@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'codropsicons';
    src: url('../fonts/codropsicons/codropsicons.eot');
    src: url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'), url('../fonts/codropsicons/codropsicons.woff') format('woff'), url('../fonts/codropsicons/codropsicons.ttf') format('truetype'), url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

html,
body {
    background: #444;
    color: #89E3F3;
    font-weight: 300;
    font-family: 'Lato', Calibri, Arial, sans-serif;
}

tr:hover,
tr:focus {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
    color: #fff;
    cursor: pointer;
}

.info:hover {
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    color: white;
    width: 247px;
    height: 120px;
    font-size: 2.3em;
    font-weight: bolder;
    vertical-align: middle;
}

#map {
    height: 100%;
}

#right-panel {
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding-left: 3px;
    padding-right: 3px;
}

#right-panel select,
#right-panel input {
    font-size: 15px;
}

#right-panel select {
    width: 100%;
}

#right-panel i {
    font-size: 12px;
}

#right-panel {
    padding: 12px;
    max-width:390px;
    overflow: auto;
    position:relative;
    height: 80%;
    overflow-y: scroll;
}

.adp-legal {
    display: none;
}

.adp,
#pDetails {
    position: absolute;
    height: auto;
    overflow: auto;
}

#pDetails table {
    font-weight: 300;
    color: #2c2c2c;
    font-size: 25px;
}

#pDetails tbody,
#pDetails tr,
#pDetails td {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#pDetails td {
    border-top: 1px solid #cdcdcd;
    margin: 0;
    padding: .3em 3px;
    vertical-align: top;
    width: 190px;
    color: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

#pDetails td.second {
    text-align: right;
}

#pDetails td.single {
    text-align: center;
}

.inactive {
    display: none;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    position: relative;
    top: 13px;
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    max-width: 280px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#overlay {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
}

#overlay div {
    width: 550px;
    margin: 100px auto;
    background-color: #48a770;
    padding: 15px;
    text-align: center;
}

#overlay span {
    text-align: right;
}

.close {
    color: rgba(0, 0, 0, 0.4);
    float: right;
}

.opacifymap {
    -webkit-filter: opacity(.2);
    filter: opacity(.2);
}
.display-flex{
    display:flex;
}
#floor3{
    width: 100%;
    height: auto;
}
