@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon/icomoon.eot');
    src: url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/icomoon/icomoon.woff') format('woff'), url('../fonts/icomoon/icomoon.ttf') format('truetype'), url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
.icon{
    display:flex;
}
.icon:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 0.6em;
    font-size: 1.2em;
    -webkit-font-smoothing: antialiased;
}

.ic:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
}

.icon-location:before {
    content: "\e901";
}

.icon-location2:before {
    content: "\e902";
}

.icon-compass:before {
    content: "\e903";
}

.icon-map:before {
    content: "\e904";
}

.icon-map2:before {
    content: "\e905";
}

.icon-cross:before {
    content: "\e900";
}

.icon-pinterest:before {
    content: "\e906";
}

.icon-pinterest2:before {
    content: "\e907";
}

.icon-paypal:before {
    content: "\e908";
}

.icon-paypal2:before {
    content: "\e909";
}

.icon-paypal3:before {
    content: "\e90a";
}

.icon-tag:before {
    content: "\e90b";
}

.icon-location3:before {
    content: "\e90c";
}

.icon-phone:before {
    content: "\e911";
}

.icon-office:before {
    content: "\e90e";
}

.icon-newspaper:before {
    content: "\e90f";
}

.icon-stack:before {
    content: "\e910";
}

.icon-database:before {
    content: "\e912";
}
.close-icon:before{
    content:"\00d7";
}
.close-icon{
    position: absolute;
    right:0px;
}
